h1, h3, h5 {
  font-family: monospace;
  font-weight: normal;
  text-align: center;
  color: white;
}

h1 {
  font-size: 6rem;
  margin-top: 120px;
  margin-bottom: 0px;
}

.choose-timezone {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.2);
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}

.choose-timezone h5 {
  margin-bottom: 0.5rem;
}
