<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Time App</title>
    <link rel="stylesheet" href="css/style.css" charset="utf-8">
  </head>

  <body data-ng-app="timeApp">
    <main data-ng-controller="timeController">
      <h1>{{currentTime}}</h1>
      <h3>{{timeHex}}</h3>
      <h3>Current timezone: UTC{{timezone}}</h3>
      <aside class="choose-timezone">
        <h5>Change the displaying timezone (Timezones range from UTC-12 to UTC+14):</h5>
        <button ng-click="timezoneBackward()" type="button" name="minus 1">-1</button>
        <button ng-click="timezoneForward()" type="button" name="plus 1">+1</button>
      </aside>
    </main>
    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
  </body>
</html>
